header {
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
  height: 72px;
  position: relative;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
}

.header-content {
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  width: 200px;
  margin: 5px 0;
}

