<app-header></app-header>
<div class="container">
  <div class="content-player">

    <div class="container-video-player">
      <div id="player" style="position: absolute; width: 100%; height: 100%; left: 0; top: 0;"></div>
    </div>

    <div [innerHTML]="currentVideo.snippet.title" class="video-title" id="title"></div>

    <div class="controls">
      <button (click)="previousVideo()" mat-icon-button color="warn" aria-label="Previous video">
        <mat-icon [inline]="true" style="font-size: 40px;" class="control-buttons">skip_previous</mat-icon>
      </button>

      <button *ngIf="onPause" (click)="playPausedVideo()" mat-icon-button color="warn" aria-label="Play/Pause video">
        <mat-icon  [inline]="true" style="font-size: 40px;" class="control-buttons">play_circle_filled</mat-icon>
      </button>

      <button *ngIf="!onPause" (click)="pauseVideo()" mat-icon-button color="warn" aria-label="Play/Pause video">
        <mat-icon [inline]="true" style="font-size: 40px;" class="control-buttons">pause</mat-icon>
      </button>

      <button (click)="nextVideo()" mat-icon-button color="warn" aria-label="Next video">
        <mat-icon [inline]="true" style="font-size: 40px;" class="control-buttons">skip_next</mat-icon>
      </button>
    </div>

  </div>

  <div class="content-list" >
    <div class="input-box">
      <div class="content">
        <input class="search-bar" placeholder="Buscar..." type="text" (click)="openDropDown()">
      </div>
    </div>

    <div cdkDropList (cdkDropListDropped)="drop($event)">
      <div [ngClass]="{'current-video': video.id === currentVideo.id}" class="list-videos" *ngFor="let video of listVideos;  index as i" cdkDrag>
        <img [src]="video.snippet.thumbnails.default.url" width="50" alt="thumbnail">
        <p class="ml-20">
          <span [innerHTML]="video.snippet.title"></span>
          <span class="video-duration"> ({{video.duration}})</span>
        </p>
        <button (click)="playVideoFromList(i)" mat-icon-button class="ml-auto" color="warn" aria-label="Play video">
          <mat-icon class="control-buttons">play_circle_filled</mat-icon>
        </button>
        <button (click)="deleteVideo(i)"  mat-icon-button color="warn" aria-label="Delete video">
          <mat-icon class="control-buttons">delete_forever</mat-icon>
        </button>
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>

<div *ngIf="showModal" [ngClass]="{'modal': showModal}">
  <div class="modal-content" appClickOutside (clickOutside)="closeDropDown()">

    <div>
      <span (click)="showModal = false" class="close">&times;</span>
    </div>

    <div class="input-box">
      <div class="content">
        <input id="search" class="search-bar" placeholder="Buscar..." type="text" (keyup)="keyUp($event.target.value)" [formControl]="search">
      </div>
    </div>

    <div class="results-container">
      <div (click)="addToList(video)" *ngFor="let video of searchResults" appHighlightItem class="search-result">
        <img [src]="video.snippet.thumbnails.default.url" class="image-result" width="50" alt="thumbnail">
        <p>
          <span [innerHTML]="video.snippet.title"></span>
        </p>
      </div>
      <div *ngIf="searchResults.length > 0" (click)="nextPage()" class="load-more">
        <mat-icon aria-hidden="false" aria-label="Load more">add_circle_outline</mat-icon>
      </div>
    </div>

  </div>
</div>


